

.facebookLogo{
    width: 50%;
    height: 20%;
}

.pragraph{
    font-size: 30px;
    line-height: 28px;
    width: auto;
    margin-left: 5%;
}

.left-side-second-div{
    margin-top: 30%;
    margin-left: 0%;
}

.login-box{
    margin-top: 30%;
    margin-right: 15%;
    margin-left: 15%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.inputField{
    
    margin-left: 10%;
    margin-right: 10%;
    
}

.btn-primary{
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    color: #0866ff;
   
}

.login-box a{
    height: 60%;
    margin-left: 35%;
    
}

.hr{
    
 border-color: black;
    
    /* line-height: 10px; */
}

.btn-success{
    margin-top: 2%;
    margin-left: 10%;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 8%;
    
   
}

.login-box-under-p{
    margin-top: 5%;
    margin-left: 20%;
}

.login-box-under-p > a{
    color: black;
    margin-left: 5%;
}
 #h:active hover{
    text-decoration: none;

}


#h{
    text-decoration: none;
}